{% extends 'apppuzzle/base.html' %}
{% load static %}

{% block content %}
<body onload="init();">
<center>
	<div class="header">
		<h1>Puzzle Game</h1>
	</div>
  <br><div><img width="250px" src="{{ imj_.image.url }}"></div><br>
  <input type="submit" value="Puzzlify"><br><br>
    <div class="puzzleFrame">
      {% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
{% endif %}
      <canvas id="myCanvas"></canvas>
      <div class="drop-zone"></div>
    </div>

  </center>
    <script src="{% static 'js/script1.js' %}"></script>
</body>
{% endblock %}

